.container
  width: 90%
  max-width: 1256px
  margin: auto

.row
  display: flex
  align-items: flex-start
  justify-content: space-between

.col
  &-32
    flex-basis: 32% 
  &-46
    width: 46% 
  &-54
    width: 54%