.container
  width: 90%
  max-width: 1256px
  margin: auto

.row
  display: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap

.col
  &-27
    width: 27%
  &-29
    flex-basis: 29%
  &-32
    flex-basis: 32%
  &-46
    width: 46% 
  &-54
    width: 54%
  &-62
    width: 62%
