.button
  padding: 14px 20px
  border: none
  border-radius: 2px
  color: $light
  text-align: center
  text-transform: uppercase
  font-family: $f-primary

  &--primary
    background-color: $primary
    font-size: 13px

  &--outline
    border: 1px solid $light
    background-color: transparent
    font-size: 13px