.button
  font-family: $f-primary
  text-align: center
  text-transform: uppercase
  color: $light
  border: none
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none

  &--outline
    background-color: transparent
    border: 1px solid $light
  &--rounded
    border-radius: 2px

.label
  font-family: $f-common
  font-size: $fz15 //одинаковые во всем проекте
  margin-bottom: -3px //выверенно, без минуса никак
  &--light
    color: rgba($light, 0.5)
  &--dark
    color: rgba($dark, 0.5)

.input
  padding: 7px 0
  font-family: $f-common
  font-size: $fz18
  line-height: $lh24
  background-color: transparent
  border: none
  &--light
    color: $light
    border-bottom: 1px solid rgba($light, 0.15)
    &::placeholder
      color: $light
  &--dark 
    color: $dark
    border-bottom: 1px solid rgba($dark, 0.3)
    &::placeholder
      color: $dark
  &:focus
    outline: none
    border-bottom: 1px solid $primary
  &-group 
    display: flex
    flex-direction: column
.policy
  position: relative
  &__checkbox
    position: absolute
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center

  &__label
    display: flex
    align-items: center
    font-family: $f-common
    font-style: normal
    font-weight: normal
    font-size: $fz16 //одинаковые во всем проекте
    color: $light
    &::before
      content: ''
      width: 18px
      height: 18px
      margin-right: 0.57rem
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
    &--black
      color: $black
    &--center
      justify-content: center
.form
  &__button //отличаются в модальном и сложной секции
    min-width: 200px
    min-height: 51px
    padding: 17px 20px
    font-family: $f-primary
    text-transform: uppercase
    color: $light
    text-align: center
    font-size: $fz15
