.button
  padding: 14px 20px
  font-family: $f-primary
  text-align: center
  text-transform: uppercase
  color: $light
  border: none
  border-radius: 2px

  &:hover
    cursor: pointer

  &--primary
    font-size: 0.929rem
    background-color: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s

    &:hover
      box-shadow: none

  &--outline
    font-size: 0.929rem
    background-color: transparent
    border: 1px solid $light