@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none

  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0  

@media screen and ( max-width: 768px)
  .section
    &-title
      &__heading
        margin-bottom: 1.5rem
        font-size: 1.833rem
      
      &__word
        margin: 0 auto
        &::after
          display: none
      
      &__text
        font-size: 1.17rem
        line-height: 1.84rem
        max-width: 25.42rem
        margin: 0 0 
        
  .swiper
    &-slide
      &__text-block
        margin-bottom: 0.46rem
      &__text
        margin: 0 0 2.33rem
        flex-basis: 47.5%
        &:nth-of-type(n+3)
          margin: 0 0 4.08rem
        &:nth-of-type(even)
          margin-right: 0
        
      &__heading
        margin: 0 0 0.83rem
      &__value
        font-size: 1.17rem
        line-height: 1.59rem

  .projects
    &__col
      width: 100%
      &:first-child
        margin: 0 0 2.83rem
    &__heading
      margin-bottom: 2.17rem
    &__image
      max-height: 16.83rem
      width: 100%

  .types
    &__section-title
      margin-bottom: 3.333rem

    &__pricetag
      padding: 0.917rem 1.333rem 

  .design
    color: $light
    background-color: $dark

    &__pricetag
      padding: 0.917rem 3.75rem 

    &__heading, 
      color: $light

    &__section-subtitle
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.667rem 
      color: $light
    
    &__dark-bg
      display: none

    .blackout
      &::before
        display: none

  .row
    flex-direction: column
    align-items: center
  
  .card
    &__text
      max-width: 22.5rem
      margin-left: 0
      margin-top: -11.833rem
      
    &__pricetag
      min-width: 15.875rem

  .types, .design
    &__card
      margin-bottom: 6.583rem

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      text-decoration: none
      color: $light

    &__button
      display: none
  
  .title
    margin: 0 0 1.167rem
    font-size: 1.917rem 

  .hero
    &__text
      max-width: 26.667rem
      margin: 0 0 2.667rem
      font-size: 1.5rem

    &__content
      max-width: 28.333rem
    
    &__button
      display: block
      min-width: 100%
      margin-bottom: 2.167rem 
      font-size: 1.083rem

    &__scroll-down
      display: none
    
@media screen and ( max-height: 600px)
  .hero
    &__scroll-down
      display: none
