@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

  .steps
    &__col
      width: 50%
    &__heading
      font-size: mrem(27px)
      line-height: mrem(37px)
    &__subtitle
      font-size: mrem(15px)
      line-height: mrem(21px)
    &__swiper1
      &-pagination
        font-size: mrem(18px)
        line-height: mrem(25px)
    &-tab
      &__heading
        font-size: mrem(15px)
        line-height: mrem(21px)
      &__value
        font-size: mrem(15px)
        line-height: mrem(18px)
    &-slide
      &__heading
        font-size: mrem(15px)
        line-height: mrem(23px)
      &__value
        font-size: mrem(15px)
        line-height: mrem(25px)

@media screen and ( max-width: 992px )
  .nav
    display: none

  .hero
    padding-left: 0
    &__instagram
      display: none
    &__content
      margin-left: 0  

  .card
    &__image
      width: auto

@media screen and ( max-width: 768px)
  .section
    &-title
      &__heading
        margin-bottom: 1.5rem
        font-size: 1.83rem
      &__word
        margin: 0 auto
        &::after
          display: none

  .projects
    &__col
      width: 100%
      &:first-child
        margin: 0 0 2.83rem

  .types
    &__title
      margin-bottom: 3.33rem
    &__pricetag
      padding: 0.92rem 1.33rem 

  .design
    background-color: $dark
    color: $light
    &__pricetag
      padding: 0.917rem 3.75rem 
    &__heading 
      color: $light
    &__subtitle
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.67rem 
      color: $light
    &__dark-bg
      display: none
    .blackout
      &::before
        display: none

  .row
    flex-direction: column
    align-items: center

  .card
    &__text
      max-width: 22.5rem
      margin-left: 0
      margin-top: -11.83rem
    &__pricetag
      min-width: 15.875rem

  .types, .design
    &__card
      margin-bottom: 6.58rem

  .steps
    display: none

  .footer

@media screen and ( max-width: 576px )
  .container
    width: 91%
  .contacts
    &__phone
      margin-right: 0
      text-decoration: none
      color: $light
    &__button
      display: none

  .title
    margin: 0 0 1.17rem
    font-size: 1.92rem 

  .hero
    padding-top: rem(55px)
    &__text
      margin-bottom: mrem(29px)
      max-width: 26.67rem
      margin: 0 0 2.67rem
      font-size: 1.5rem
    &__content
      align-items: center
      padding-left: 0
      &-wrapper
        max-width: 28.33rem
    
    &__button
      display: block
      min-width: 100%
      margin-bottom: 2.17rem 
      font-size: 1.08rem
    &__scroll-down
      display: none

  .projects
    padding-top: 3rem
    &__heading
      margin-bottom: 2.17rem
    &__subtitle
      max-width: 25.42rem
      margin: 0 0 3.17rem
      font-size: 1.17rem
      line-height: 1.84rem
    &-slide
      &__text-block
        margin-bottom: 0.46rem
      &__text
        flex-basis: 47.5%
        margin: 0 0 2.33rem
        &:nth-of-type(n+3)
          margin: 0 0 4.08rem
        &:nth-of-type(even)
          margin-right: 0
      &__heading
        margin: 0 0 0.83rem
        font-size: 1.17rem
        line-height: 1.58rem
      &__value
        font-size: 1.17rem
        line-height: 1.59rem

  .control
    background-color: $dark
    &__title
      margin-bottom: mrem(40px)
    &__video
      margin-bottom: mrem(25px)
    &__text
      margin-bottom: mrem(27px)
      max-width: 100%
      font-size: mrem(14px)
      line-height: mrem(24px)
      color: $light
      &::before
        margin-bottom: mrem(15px)

    &__input-group
      flex-basis: 100%
    &__label
      font-size: mrem(15px)
    &__input
      font-size: mrem(18px)
      line-height: mrem(25px)
      &-group
        margin-bottom: 57px
        &--last
          margin-bottom: 23px

    &__policy
      margin-top: 0
      margin-bottom: 61px
      &-label
        font-size: mrem(16px)

    &__button
      order: 1
      min-width: mrem(340px)
      margin: auto
      font-size: mrem(15px)

  .video
    &__play
      width: mrem(37px)
      height: mrem(37px)
  .label
    &--m-light
      color: rgba($light, 0.5)

  .input
    &--m-light
      color: $light
      border-bottom: 1px solid rgba($light, 0.15)
      &::placeholder
        color: $light
  .policy
    &__label
      justify-content: flex-start
      color: $light

  .footer
    background-image: none   
    &__input
      &-group
        flex-basis: 100%
        margin: 0 0 mrem(61px)
        &--last
          margin: 0px 0 20px
    &__title
      margin: 0 0 mrem(49px)
    &__policy
      margin-bottom: mrem(65px)
    &__button
      width: 100%

@media screen and ( max-width: 375px )
  .projects
    &-slide
      &__image
        width: 100% 
        max-height: 16.83rem

  .control
    &__video
      min-height: mrem(210px)
    &__button
      min-width: 0
      width: 100%

@media screen and ( max-height: 600px)
  .hero
    padding-bottom: 0
    &::after,
    &__scroll-down
      display: none
