*, *:before, *:after
  box-sizing: border-box

body
  font-family: $f-common
  font-size: 14px
  font-style: normal

.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: $f-heading

    &__image
      display: flex
      justify-content: center
      align-items: center
      
      &::before, &::after
       content: ''
       width: 32px
       height: 2px
       background-color: $primary
       margin: 0 10px