*, *:before, *:after
  box-sizing: border-box

html
  font-size: 14px

body
  font-family: $f-common
  font-size: 1rem
  font-style: normal

img
  max-width: 100%

.section
  padding: 60px 0 /** временный отступ, потом удалить **/
  
  &-title
    font-family: $f-heading
    text-align: center
    text-transform: uppercase
    
    &__heading
      font-size: 1.429rem
      color: $dark

    &__image
      display: flex
      justify-content: center
      align-items: center
      
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary