$dark: #131313
$black: #181818 
$light: #ffffff
$primary: #E3B873
$secondary: #959595

$f-common: "Futura Book", sans-serif
$f-primary: "Futura Demi", sans-serif
$f-secondary: "Futura Medium", sans-serif
$f-heading: "Yeseva One", cursive

$fz15: 15px
$fz16: 16px
$fz18: 18px

$lh20: 20px
$lh22: 22px
$lh24: 24px