.header
  position: fixed
  left: 0
  top: 0
  z-index: 99
  width: 100%
  padding: 24px 0
  background-color: $dark

.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  font-family: $f-primary
  font-size: 1rem
  text-transform: uppercase
  color: $primary

.nav
  &__item
    margin-right: 2.64rem
    text-transform: uppercase
    text-decoration: none
    color: $light
    transition: color 0.2s
    &:hover
      color: $primary

.phone
  font-family: $f-primary
  font-size: 1rem
  color: $primary

.contacts
  &__phone
    margin-right: 45px
  &__button
    padding: 13px 20px
    font-size: 0.93rem
    line-height: 0.71rem 
